@model IEnumerable<LvivAdviser.Domain.Entities.Content>
@{
	ViewBag.Title = "Admin: All Places";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>All Places</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-condensed table-bordered">
			<tr>
				<th class="text-right">ID</th>
				<th class="text-center">Type</th>
				<th>Name</th>
				<th class="text-center">Description</th>
				<th class="text-center">MainPhoto</th>
				<th class="text-center">Rating</th>
				<th class="text-center">Ratings</th>
				<th class="text-center">Actions</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td class="text-right">@item.Id</td>
					<td class="text-center">@item.Type</td>
					<td>
						@Html.ActionLink(item.Name, "EditContent", new {item.Id})
					</td>
					<td class="text-center">@item.Description</td>
					<td>@item.MainPhoto</td>
				<td class="text-center">@item.Rating</td>
				<td class="text-center">@item.Ratings</td>
				<td class="text-center">
					@using (Html.BeginForm("DeleteContent", "Admin"))
					{
						@Html.Hidden("Id", item.Id)
						<input type="submit"
							   class="btn btn-default btn-xs"
							   value="Delete" />
					}
				</td>
			</tr>
			}
		</table>
	</div>
	<div class="panel-footer">
		@Html.ActionLink("Add a new place", "CreateContent", null,
new { @class = "btn btn-default"  })
	</div>
</div>
