@using LvivAdviser.WebUI.HtmlHelpers
@model LvivAdviser.WebUI.Models.ContentListViewModel

@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewBag.Title = "Content";
}

@foreach (var p in Model.Contents)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">
                <a href="#">
                    <img src="~/Content/star.jpg" style="width:20px;height:25px;border:0"/>
                    @p.Rating
                </a>
            </span>
        </h3>
        <span class="lead"> @p.Description</span>
        @p.MainPhoto
    </div>
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, type = Model.CurrentType }))
</div>
