<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_StyleTemplate")
</head>
<body>
    @Html.Partial("_GuestBar")
        <br/><div class="row panel">
            <div class="col-xs-8">
                @RenderBody()
            </div>
        </div>
    @Html.Partial("_ScriptTemplate")
</body>
</html>
